{% extends "reviewapp/vizbase.html" %}
{% block content %}
    <head>
        <title>Categories</title>
    </head>
    <body>
    <br>
      <div class="search">
        <h2 class="white">Search for a category</h2> 
        <form action="/cellphone" >
        <input type="blank" name="product" placeholder="Type and press enter">
        </form>
      </div>
      <div class= "row" style='margin:5% 0'>

        {% for category in categories %}
        <div class="col-sm-4 product">

            <h2><a href={{ category.id }}>{{ category.category_name }}</a></h2>
            <p>created_date: {{ category.created_date }}</p>
            <br>
        </div>

        {% endfor %}

    </div>
    </body>

{% endblock  %}