<!DOCTYPE html>
<meta charset="utf-8">
<title>Bar Chart of Features</title>
<link rel="shortcut icon" href="../static/assets/images/favicon.png" type="image/x-icon" />    <!-- Favicon -->

<link rel="stylesheet" href="../static/css/main.css">
<script src="//d3js.org/d3.v3.min.js"></script>


        <!-- CORE CSS FRAMEWORK - START -->
        <link href="../static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS FRAMEWORK - END -->

        <!-- CORE CSS TEMPLATE - START -->
        <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="../static/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
        <!-- CORE CSS TEMPLATE - END -->
 <style type="text/css">
      body{
  background: url("/static/bg1.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    </style>

  {% block content %}
  {% endblock %}
</html>


